@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic,600italic,700italic";
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 19;
  color: #646464;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1.3333333333333333;
  margin-bottom: 19px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 19px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 19px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 1.3333333333333333;
  margin-bottom: 19px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 1.714285714285714;
  margin-bottom: 19px;
}

h6, .h6 {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 19px;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  .navbar {
    border-radius: 0 !important;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  z-index: auto;
  margin-bottom: 0;
}

.jumbotron {
  background: url("/assets/images/kate-horman.png") right center no-repeat, url("/assets/images/home-banner-2560x500-light.jpg") center center no-repeat;
  margin-bottom: 0;
  color: #fff;
  padding: 80px 0;
}
.jumbotron h1 {
  line-height: 1.30;
  text-shadow: 0.5px 0.866px 1px rgba(18, 18, 18, 0.176);
}
.jumbotron .help-block {
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
}
.jumbotron .help-block a {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: underline;
}
.jumbotron input[type="text"] {
  width: 400px;
}
.jumbotron form {
  margin-top: 25px;
}
.jumbotron.category {
  padding: 50px 0;
  background: url("/assets/images/category-banner.jpg") center center no-repeat;
  background-size: cover;
}
.jumbotron.lawyers {
  background: url("/assets/images/lawyer-banner.jpg") center center no-repeat;
  background-size: cover;
}

a {
  color: #02baf2;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #009dcd;
  text-decoration: none;
}
a:focus {
  color: #009dcd;
  text-decoration: none;
  outline: none;
}

.form-control {
  border: 1px solid #d6e1e5;
  color: #364347;
  font-size: 16px;
  line-height: 1.467;
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.form-control:hover {
  border-color: #93a4aa;
  background: #ffffdb;
}

.form-group.focus .form-control {
  border-color: #02baf2;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  background: #ffffdb;
  border-color: #02baf2;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control[disabled], .form-control[readonly] {
  background-color: #e1eef3;
  cursor: default;
}

fieldset[disabled] .form-control {
  background-color: #e1eef3;
  cursor: default;
}

.form-control:-moz-placeholder {
  color: #b2c6cd;
}
.form-control::-moz-placeholder {
  color: #b2c6cd;
  opacity: 1;
}
.form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .form-control.placeholder {
  color: #b2c6cd;
}

.btn {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}
.btn:hover, .btn:focus {
  outline: none;
  color: #ffffff;
}
.btn:active, .btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: #0288d1;
  border-color: #0278b8;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #02679e;
  border-color: #02679e;
}

.btn-cart {
  color: #fff;
  background-color: #93a4aa;
  border-color: #85989f;
}
.btn-cart:hover, .btn-cart:focus, .btn-cart:active, .btn-cart.active {
  color: #fff;
  background-color: #768c94;
  border-color: #768c94;
}

.btn-success {
  color: #fff;
  background-color: #11b300;
  border-color: #0f9a00;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: #fff;
  background-color: #0c8000;
  border-color: #0c8000;
}

.btn-addcart {
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.navbar-default {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: #0288d1;
  border: none;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .active > a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.no-margin {
  margin: 0 !important;
}

.breadcrumb {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 15px;
}

dl dt {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
}
dl dd {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 19px;
}

.spacer {
  margin: 10px 0;
}
