@import '_partials';
@import 'theme';
header{
	margin : 10px 0;
	.input-group,.btn-group{margin: 16px 0;}
}
section{
	background   : #fff;
	padding      : 50px 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	&.alt{
		background: #f9fcfd
	}
	.head{
		text-align: center;
	}
}
.bag-ico{
	background  : url("../images/bag-ico.png") no-repeat;
	width       : 18px;
	height      : 18px;
	display     : inline-block;
	margin-right: 5px;
}
.thumbnail.img-caption{
	background   : transparent;
	margin       : 20px 0;
	border       : none;
	padding      : 0;
	border-radius: 0;
	text-align   : center;
	.caption{
		font-size : 90%;
		margin-top: 10px;
		padding   : 0;
		p{
			margin: 0;
		}
	}
}
.takeaway{
	margin : 0;
	padding: 20px 0;
	font   : bold italic 24px $times;
}
.thumbnail{

	&.product{
		border-radius: 5px;
		margin       : 50px 0;
		padding      : 0;
		.header{
			border-top-right-radius: 5px;
			border-top-left-radius : 5px;
			background             : #0097a7;
			padding                : 15px;
			color                  : #fff;
			h3{
				line-height: 1.2;
				font-size  : 26px;
				margin     : 0 !important;
			}
			p{
				color         :rgba(255,255,255,0.7);
				text-transform: uppercase;
				margin        : 10px 0 0 0;
				font-size     : 12px;
				letter-spacing: 1px;
			}
		}
		.info{
			font-family               : $serif;
			font-size                 : 14px;
			line-height               : 24px;

			border-bottom-left-radius : 5px;
			border-bottom-right-radius: 5px;
			color                     : #808080;
			padding                   : 15px;
			box-shadow                : 2.5px 4.33px 5px 0px rgba(202, 211, 218, 0.063);
			background-image          : -moz-linear-gradient( 90deg, rgb(246,247,249) 0%, rgb(255,255,255) 100%);
			background-image          : -webkit-linear-gradient( 90deg, rgb(246,247,249) 0%, rgb(255,255,255) 100%);
			background-image          : -ms-linear-gradient( 90deg, rgb(246,247,249) 0%, rgb(255,255,255) 100%);
			> .price{
				font-size: 20px;
				@include SourceSans-Sb;
			}
		}
	}
}
.triangle-border {
	position: relative;
	padding: 15px;
	margin: 20px 0 35px;
	border: 1px solid rgb(202, 211, 218);
	color: #333;
	background: #fff;
	border-radius: 5px;
	&:before {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 40px;
		border-width: 15px 15px 0;
		border-style: solid;
		border-color: rgb(202, 211, 218) transparent;
		display: block;
		width: 0;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -14px;
		left: 40px;
		border-width: 15px 15px 0;
		border-style: solid;
		border-color: #fff transparent;
		display: block;
		width: 0;
	}
}
.testimonial-item{
	margin: 50px 0;
	.media{
		img{
			@include size(64px,64px);
		}
		.media-body{
			margin-top: 10px;
		}
	}
}
.features{
	text-align: center;
	margin    : 50px 0;
}
.featured-medias{
	li{
		margin: 20px;
	}
}
.foot-optin{
	background: #45A6DE;
	color     :#fff;
}
footer{
	color     : rgba(255,255,255,0.5);
	background: #465a65;
	padding   : 30px 0;
	ul li a{
		color     : rgba(255,255,255,0.8);
	}
	img{
		margin: 20px 0;
	}
	.disclaimer{
		font-size: 13px;
		margin   : 0 0 0;
	}
}

.product-info{
	h2{
		@include SourceSans-BIt;
	}
}
.kit-list{
	margin-top: 30px;
}