@import '_partials';
body {
	@include SourceSans-Reg;
	@include font-size(16px,24);
	color: #646464;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	@include SourceSans-Reg;
}

h1,.h1 {@include font-size(36px); }
h2,.h2 {@include font-size(30px); }
h3,.h3 {@include font-size(24px); }
h4,.h4 {@include font-size(18px); }
h5,.h5 {@include font-size(14px); }
h6,.h6 {@include font-size(12px); }

@media (min-width: 768px) {
	.container {
		max-width: 960px;
	}
	.navbar {
		border-radius: 0 !important;
	}
}
.container-fluid {
	padding-right: 15px;
	padding-left : 15px;
	margin-right : auto;
	margin-left  : auto;
}
.navbar{
	z-index: auto;
	margin-bottom: 0;
}
.jumbotron{
	background   : url("/assets/images/kate-horman.png") right center no-repeat,
	url("/assets/images/home-banner-2560x500-light.jpg") center center no-repeat;
	margin-bottom: 0;
	color        : #fff;
	padding      : 80px 0;
	h1{
		line-height: 1.30;
		text-shadow: 0.5px 0.866px 1px rgba(18, 18, 18, 0.176);
	}
	.help-block{
		font-size: 16px;
		@include SourceSans-It;
		a{
			color: rgba(255,255,255,0.65);
			text-decoration: underline;
		}
	}
	input[type="text"]{
		width: 400px;
	}
	form{
		margin-top: 25px;
	}
	&.category{
		padding: 50px 0;
		background   : url("/assets/images/category-banner.jpg") center center no-repeat;
		background-size: cover;
	}
	&.lawyers{
		background   : url("/assets/images/lawyer-banner.jpg") center center no-repeat;
		background-size: cover;
	}
}
a {
	color: #02baf2;
	text-decoration: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
	&:hover {
		color: #009dcd;
		text-decoration: none;
	}
	&:focus {
		color: #009dcd;
		text-decoration: none;
		outline: none;
	}
}
.form-control {
	border: 1px solid #d6e1e5;
	color: #364347;
	font-size: 16px;
	line-height: 1.467;
	-webkit-appearance: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	&:hover {
		border-color: #93a4aa;
		background  : #ffffdb;
	}
}
.form-group.focus .form-control {
	border-color: #02baf2;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.form-control {
	&:focus {
		background: #ffffdb;
		border-color: #02baf2;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	&[disabled], &[readonly] {
		background-color: #e1eef3;
		cursor: default;
	}
}
fieldset[disabled] .form-control {
	background-color: #e1eef3;
	cursor: default;
}
.form-control {
	&:-moz-placeholder {
		color: #b2c6cd;
	}
	&::-moz-placeholder {
		color: #b2c6cd;
		opacity: 1;
	}
	&:-ms-input-placeholder, &::-webkit-input-placeholder, &.placeholder {
		color: #b2c6cd;
	}
}
.btn {
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	&:focus, &:active:focus, &.active:focus {
		outline: none;
	}
	&:hover, &:focus {
		outline: none;
		color: #ffffff;
	}
	&:active, &.active {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
.btn-primary{
	@include btn(#fff,#0288d1);
}
.btn-cart{
	@include btn(#fff,#93a4aa);
}

.btn-success{
	@include btn(#fff,#11b300);
}
.btn-addcart{
	text-transform: uppercase;
	@include SourceSans-Sb;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.10);
}
.navbar-default {
	@include SourceSans-Sb;
	background-color: #0288d1;
	border: none;
	.navbar-nav > {
		li > a {
			color: #fff;
			&:hover, &:focus {
				color: #fff;
				background-color: transparent;
			}
		}
		.open > a {
			background-color: rgba(0, 0, 0, 0.1);
			color: #fff;
			&:hover, &:focus {
				background-color: rgba(0, 0, 0, 0.1);
				color: #fff;
			}
		}
		.dropdown > a .caret {
			border-top-color: #fff;
			border-bottom-color: #fff;
		}
		.open > a {
			.caret, &:hover .caret, &:focus .caret {
				border-top-color: #fff;
				border-bottom-color: #fff;
			}
		}
		.active > a {
			color: #fff;
			background-color: rgba(0, 0, 0, 0.1);
			&:hover, &:focus {
				color: #fff;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.no-margin{
	margin: 0 !important;
}

.breadcrumb{
	@include SourceSans-Sb;
	padding         : 0 0;
	margin-bottom   : 0;
	background-color: transparent;
	border-radius   : 0;
	text-transform: uppercase;
	font-size: 15px;
}
dl{
	dt{
		@include SourceSans-Sb;
		font-size: 20px;
		margin-bottom: 10px;
	}
	dd{
		font-family: $serif;
		@include font-size(15px, 24px);
	}
}

.spacer{
	margin: 10px 0;
}