header
  .container-fluid
    .row
      .col-md-4
        a(href="index.html")
          img.img-responsive(src="assets/images/Lazy-Lawyer-Logo.jpg", alt="")
      .col-md-5
        .input-group
          input.form-control.input-lg(type="text", placeholder="What template are you looking for?")
          span.input-group-btn
            button.btn.btn-primary.btn-lg(type="button") Search
      .col-md-3
        .btn-group.pull-right
          button.btn.btn-cart.btn-lg.dropdown-toggle(type="button", data-toggle="dropdown")
            | Empty Cart &nbsp;
          ul.dropdown-menu.pull-right(role="menu")
            li
              a(href="#") Template 1
            li
              a(href="#") Template 1
            li
              a(href="#") Template 1
            li.divider
            li
              a(href="#") Template 1

.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-collapse-1.navbar-collapse.collapse
      ul.nav.navbar-nav
        +item-linked('/','Home')
        +item-linked('category.html','*Category')
        +item-linked('product.html','*Product')
        li.dropdown
          a.dropdown-toggle(href="", data-toggle="dropdown")
            | Personal &nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
            +item-linked('/','Digital Will & Assets Register')
            +item-linked('/','Basic Contracts')
            +item-linked('/','Last Will and Testament')
            +item-linked('/','Self Managed Super Fund Trust Deed')
            +item-linked('/','Loans & Debt Collection')
            +item-linked('/','Marriage & Divorce')
            +item-linked('/','Power of Attorney')
            +item-linked('/','Legal Medical Documents')
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Business &nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
            +item-linked('/','Employment Agreements')
            +item-linked('/','Partnerships & Small Business Agreements')
            +item-linked('/','Professional Service Agreements')
            +item-linked('/','Shareholders Agreements')
            +item-linked('/','Website Terms & Conditions')
            +item-linked('/','Legal Warranties')
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            | For Landlords &nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
            +item-linked('/','Lease Agreements')
        +item-linked('lawyers.html','For Lawyers')
        +item-linked('business.html','Business Starter Kit')
        +item-linked('faq.html','Legal FAQs')
        +item-linked('about.html','About')
