doctype html
html(lang="en")
	head
		block meta
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name='description', content='The Robin Hood of the Legal World')
		block title
			title The Lazy Lawyer - The Robin Hood of the Legal World
		link(rel="stylesheet", type="text/css", href="/assets/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/style.css")
		block stylesheets
		block jsheader
	body
		include _mixin
		include _header
		block content
		include _footer
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="/assets/bootstrap/js/bootstrap.min.js")
		script(type="text/javascript", src="/assets/js/app.js")


