extends _layout
block content
  .jumbotron.category
    .container-fluid
      .row
        .col-md-8
          h1 About Me: Kate Horman
          h2: i "Think of me as the Robin Hood of the Legal World"
  section.alt
    .container: .row
      .col-md-12
        dl: dt Who is behind The Lazy Lawyer website?
          dd: p The Lazy Lawyer website was started by a law graduate with one goal in mind. To provide open and affordable access to justice to Australians and their businesses online. Think of me as the Robin Hood of the legal world. Providing you with the documents and templates like the ones lawyers use at a fraction of the cost.
        dl: dt What does "The Lazy Lawyer" website do?
          dd
            p While I can’t provide you with legal advice, the website The Lazy Lawyer provides legal templates, with easy to follow instructions allowing you, the user, to fill them in and customise them to suit your specific needs.
            p There’s no smoke and mirrors and no hidden costs. Just comprehensive templates for your benefit.
        dl: dt Why use The Lazy Lawyer website?
          dd
            strong What are the benefits of using The Lazy Lawyer?
            ol.spacer
              li Quality Australian legal documents and templates at very affordable prices.
              li All major Australian documents are available.
              li All our documents are comprehensive and current.
              li All the documents are written in plain English so they’re easy to understand.
              li Instant download. There’s no need to sign up or pay for a subscription.
              li Once you’ve downloaded it, the document is yours. You don’t have to build it online through us. Complete it in your own time and use it as often as you need.
        dl: dt Why “The Lazy Lawyer”  website will work for you
          dd: ul.spacer
              li What few people know is that lawyers and legal practitioners actually use templates similar to ours to prepare their legal agreements for clients. We’re simply providing you with the templates themselves and the instructions to fill it in, minus the legal fees.
              li A legal practitioners signature is not necessary on most legal agreements, what you’re paying them for is their “advice”.
              li Nearly all legal contracts are standard templates that are populated with the client’s details and tweaked to suit their needs.
              li We’re simply changing the traditional mould. Bringing the documents direct to you.
          dl: dt The Lazy Lawyer Guarantee
            dd All our documents come with a 100% money back guarantee. If you’re not satisfied with the document, notify us within 24 hours and return the document unedited and your money will be refunded in full.
          dl: dt Can you give me legal advice?
            dd No we can’t. In order to comply with legislation we cannot provide legal advice but we can answer any of your questions regarding the templates. The templates  are incredibly straightforward to fill in and our Guide to Editing Legal Documents will help. But if you do have any issues please get in touch.
          dl: dt Do the documents have to be drafted by a legal practitioner?
            dd
              p There is NO legal requirement that the document be drafted by a legal practitioner . In fact anyone can draft their own documents. The reason more people don’t is that it’s incredibly time consuming and it can be overwhelming to know where to start.
              p The distinction between what The Lazy Lawyer website offers and what a law firm can offer is that we cannot provide legal advice. We provide general legal information and a generic (although comprehensive) legal template you fill in yourself.
              p We encourage individuals with complex legal matters to seek independent legal advice.
              p In order to comply with the law I can’t draft the document specifically for you, but it’s been made easy enough for you to do it yourself. Essentially if you’re capable of filling in your name and address, you’ll be fine.
              p REMEMBER you can use The Lazy Lawyer templates and then take your document to a lawyer to have them sign off on it for you. By not needing the lawyer to draft the document, you’ll save on legal fees but still have that peace of mind.
          dl: dt Are the documents legally binding?
            dd
              p Yes. As long as you are competent to fill out the document, sign it and comply with the witnessing requirements, the document is binding.
              p We encourage individuals with complex legal matters to seek independent legal advice.
              strong Why are you doing this? Is there a catch?
              p I’m doing this because I believe that everyone should be equal before the law and it shouldn’t cost hundreds or even thousands of dollars for people to have a legally enforceable agreement. I’m creating a resource for individuals and small businesses to save them both time and money as well as provide support and information.
              p There’s no catch. No hidden costs, no giving over credit card details or personal information. I genuinely believe in helping Australians make the best decisions for themselves.
          dl: dt I can’t find what I’m looking for
            dd The templates have been grouped together in categories such as business, personal, lease agreements, family law etc. Click the appropriate category and look through the available documents. If you don’t see what you need just ask.
          dl: dt How do I know if I’m using the right document?
            dd Every situation is unique but I’ve tried to provide the most relevant information about each document and when it should be used so you can make an informed decision.
          h2 My Philosophy
          p.takeaway “Work SMART Not Hard”
          p Why spend time writing complicated legal documents when you can simply use the templates like the ones the Lawyers use themselves?
          p The Lazy Lawyer website, started by a law graduate passionate about helping people, gives you access to the templates like the ones the Lawyers use on a daily basis without having to fork out the exorbitant legal fees. In just one click the legal document of choice is at your fingertips.
          h2 The Secret?
          p.takeaway “Productive Laziness”
          p Productive laziness is all about success, but success with far less effort.
          p Adopt a balanced approach. Focus your energies on those things which will add the greatest value to whatever you’re trying to achieve so that it leaves you with more time to do the things you enjoy.
          p Let me challenge your thinking for just one moment. Would you believe me if I was to tell you that lazy does not mean unsuccessful or stupid? Being productively lazy allows you to still achieve those higher goals but on your own terms.
          p Ever heard of the 80/20 Rule? It states that 80% of the results stem from 20% of the causes. This rule applies to various aspects of life and equally so at large law firms. 80% of the revenue from billables is directly generated from only 20% of the client base. These clients are playing in the big league, they’re the corporations and business tycoons with hefty retainers. Obviously in the firm’s eyes its smart business practice to look after them.
          p So when an individual comes along, with a legal issue, substantial to that person, the firm views them as small fry and relatively insignificant. Harsh but true. Despite the fact the legal problem you face has the potential to significantly impact your life, the lawyer is unlikely to focus all his efforts on you. Of course you’ll be charged handsomely for the service, which you may or may not ultimately be happy with.
          p So my question to you is this. If you could access exactly the documents you needed without paying legal fees would you not consider it? Of course you could attempt to compose the document or binding legal agreement yourself, but why not be smart and use The Lazy Lawyer templates? After all with just one click you get the documents you need.
          p Remember being lazy isn’t what you think it to be. Smart Lazy people have an edge over all others.
          p We encourage individuals with complex legal matters to seek independent legal advice.
          p The Lazy Lawyer is not a law firm. The information contained on this website is general legal information and should not be construed as legal advice.
