extends _layout
block content
  .jumbotron.lawyers
    .container-fluid
      .row
        .col-md-12.text-center
          h1 Business Starter Kit:
          h2 Legal Documents for Small Business

  section.content.alt
    .container
      .row: .col-md-12
        h2 This Business Starter Kit provides the essential legal documents for small business.
      .row
        .col-md-4
          +img('lawyer-bundle.png')(class="img-responsive")
        .col-md-5
          ul.kit-list
            li Employment Contract
            li Non Disclosure Agreement
            li Confidentiality Agreement
            li Partnership Agreement
            li Shareholders Agreement
            li Residential Lease Agreement
            li Commercial Lease Agreement
            li Property Co-Ownership Agreement
            li Business to Business Loan Agreement
          br
      .row
        .col-md-12
          h3 Benefits of using The Lazy Lawyer:
        .col-md-3
          +img-caption('save-money.png','Inexpensive & convenient')
        .col-md-3
          +img-caption('quick-write.png','Quick & easy templates')
        .col-md-3
          +img-caption('bullet.png','Instant electronic delivery')
        .col-md-3
          +img-caption('email.png','Free updates by email')
      .row
        .col-md-3
          +img-caption('chat.png','Written & video instructions')
        .col-md-3
          +img-caption('support.png','Telephone & email support')
        .col-md-3
          +img-caption('night.png','Peace of mind protection')
        .col-md-3
          +img-caption('australian-flag.png','Australian made')
      .row
        p This Legal Document Kit is ideal for small firms and sole practitioners who don’t have the time to draft each of the precedents they require. This Starter Kit includes the most commonly used industry standard legal documents, which can be easily customised to meet your clients needs.
        p We’ve taken the hard work out of establishing your legal precedents library.
      .row
        .col-md-12.text-center
          a.btn.btn-success.btn-addcart.btn-lg.spacer(href="/", target="_blank")
              span.glyphicon.glyphicon-download-alt
              | &nbsp; Download this all inclusive Legal Document Starter Kit for Lawyers now. Only $350

  section.testimony
    .container
      .row
        .head
          h2 Why Australians love The Lazy Lawyer
          p Here's what they have to say.

        .col-md-6
          +feedback(
            'Absolutely impressed with both the legal document package I purchased today and the subsequent customer service I received from Legal123 when I had an issue with the order. Great customer service and thanks heaps. You definitely made my day today.',
            'Emma Schmidt',
            'Managing Director, ACME CO.',
            'test-person.png')

          +feedback(
            'Legal 123 were the only place I could find the paperwork for a holiday rental agreement that applied to us. Very clear and easy to understand.',
            'Kenneth Rodriquez',
            'theislandholidayrentals.com.au',
            'test-person2.png')

        .col-md-6
          +feedback(
            'The letter was great. I actually retyped it onto my own letterhead for more impact. The client didnt pay all that he owed but he did pay some. So now I need the info to take him to court. And with Legal123 I have the confidence to do this.',
            'Shawn Reed',
            'Managing Director, ACME CO.',
            'test-person3.png')

          +feedback(
            'I was impressed that the website package was so easy to use. I didnt want to find a lawyer and create a workload for my website so the templates were super handy. My legal requirements for my website were done in 5 minutes, giving me more time to get back to business. Thank you legal123.',
            'Lauren George',
            'Managing Director, ACME CO.',
            'test-person4.png')

      .row: .col-md-12: .text-center
          +link('/','More Customer Testimonials')(class="btn btn-primary")
      .row: .col-md-12: .features
        p.takeaway The Lazy Lawyer as featured on
        ul.featured-medias.list-inline.list-unstyled
          li: +img('fair-fax.png')
          li: +img('business-insider.png')
          li: +img('savvy.png')
          li: +img('anthill.png')
          li: +img('the-age.png')
          li: +img('smh.png')