extends _layout
block content
  .jumbotron.contact
    .container-fluid
      .row
        .col-md-12
          h1 Need some help?
          h2 Send us your question and we will come back to you as fast as possible. Or just give me a call on 0433 300 202.
  section
    .container: .row
      .col-md-6
        form(role="form")
          .form-group
            label Your Name (required)
            input.form-control.input-lg(type="name", required)
          .form-group
            label Your Email (required)
            input.form-control.input-lg(type="email", required)
          .form-group
            label Subject
            input.form-control.input-lg(type="text", required)
          .form-group
            label Your Message
            textarea.form-control(rows="5")
          button.btn.btn-primary.btn-lg(type="submit") Send Message

