extends _layout-shop
block content
  .jumbotron.category
    .container-fluid
      .row
          h1.text-center Empty Cart
  section
    .container: .row
      .col-md-12
        .spacer-huge.text-center
          h2 Your cart is currently empty.
          a.btn.btn-success(href="index.html") Return to Shop
