extends _layout
block content
  .jumbotron.category
    .container-fluid
      .row
        .col-md-8
          h1 Legal FAQs
  section
    .container: .row
      .col-md-12
        dl: dt Why should I buy from The Lazy Law?
          dd
            p Our mission is to provide our users with the best legal documents at the lowest prices. All of our forms are professionally drafted and each comes with a 100% money back guarantee.
        dl: dt How do I find the right document?
          dd
            p You can search the documents by category using the main menu or by using the search box in the upper right corner of each page.

        dl: dt Which document should I use?
          dd
            p In order to comply with specific legislation we are unable to provide individual legal advice but the information available on each page and the detailed descriptions and samples should make your decision as easy as possible.

        dl: dt Is your website secure?
          dd
            p Yes. Once you add a document to the shopping cart, you are automatically redirected through a secure and encryped connection to the PayPal website where you can complete the transaction securely.  PayPal is a globally recognised and secure payment system used widely by most businesses around the world.

        dl: dt What kind of guarantee do you offer?
          dd We have a 100% money back guarantee on our documents because we are confident in their quality. If for any reason you are not satisfied with the form you purchased, you may request a refund within 24 hours of your purchase and we will gladly refund 100% of the purchase price.

        dl: dt How do I continue shopping after adding a document to the shopping cart?
          dd Just click on the “Continue Shopping” link found at the bottom of the shopping cart page.

        dl: dt How do I order the document?
          dd
            p Ordering is very simple. Just find the document you are looking for, click the “Add to Cart” button. This will add the form you selected to your shopping cart. You will then be taken to a “Shopping Cart” page containing the item you selected. At this point, you can either continue shopping for more forms or complete the purchase of the forms in your cart.
            p To complete the purchase, click on the “Checkout” button at the bottom of your shopping cart page. You will then be asked to complete payment information. After a final confirmation screen, your order will be processed and completed. You will then be instantly emailed a payment receipt with a link and instructions to download your document.

        dl: dt How will I receive my document?
          dd After you purchase the document, you will receive an email, thanking you for your purchase and it will contain links where you can immediately access the form and save it to your computer.

        dl: dt Can you mail the document to me?
          dd Currently, all of our documents are delivered electronically via our website or email.

        dl: dt When will I receive the document I purchased?
          dd
           p Immediately. As soon as your payment is processed you will receive an email which contains the download links for the documents that you ordered.

        dl: dt How do I download the document?
          dd
            p As soon as your payment is processed (which generally happens within seconds) you will receive an email which contains the download links for the documents that you purchased. The download links will allow you to download the file containing the forms you ordered and save it on your own computer.
            p When you click on the link, a “File Download” window will pop open and you will be given the option to “Open” or “Save” the file. Select “Save” and another window will open allowing you to decide where to save the document file you will be downloading. Select the location you want the file saved (good options may be “My Documents” or “Desktop”).

        dl: dt My email didn’t contain a download link?
          dd If you are unable to download your document, please contact us and we will be happy to email your document to you.

        dl: dt My download link expired before I saved it to my computer?
          dd If your download link expired, don’t worry. Please contact us online or by phone on 0433 300 202 and request the document be re-sent.

        dl: dt I downloaded the document but I cant open it?
          dd
            p This is probably due to:
            p i) the file format is not compatible with your software or
            p ii) the file was corrupted when downloading.
            p Please contact us and we will happily re-send the form.

        dl: dt I’ve downloaded the document but I’m unable to print it?
          dd Please check to make sure your printer is working properly and all of the computer/printer connections are secure.

        dl: dt I ordered the wrong document?
          dd Please contact us online or on 0433 300 202 and we’ll send you the correct document.

        dl: dt What format are the documents available in?
          dd
            p The documents are available in Microsoft Word format (.doc) and upon request Adobe Acrobat format (.pdf).
            p The Microsoft Word (.doc) format opens on PCs with Windows and either Microsoft Word or WordPad. On Mac, you will need Microsoft Word for Mac, Pages or AppleWorks to open this type of file. Text Edit on Mac OS X can also open these files. The benefit of using Microsoft Word files is that you may edit the form on your computer.
            p The Adobe Acrobat (.pdf) format works on both PCs and Macs. You need the Acrobat Reader  software to view these files (or the Preview Application included in Mac OS X). The benefit of Acrobat (.pdf) files is that they look and print identically on all computers. However, our Acrobat files are not editable. You may only print them.
            p If you have any questions about the documents please don’t hesitate to contact us.











