extends _layout
block content
  .jumbotron.category
    .container-fluid
      .row
        .col-md-8
          h1 Legal FAQs
  section
    .container: .row
      .col-md-12
        dl: dt What does the Lazy Lawyer website do?
          dd
            p The Lazy Lawyer website provides legal templates, with easy to follow instructions allowing you, the user, to fill them in and customise them to suit your specific needs.

        dl: dt Can you give me legal advice?
          dd
            p The Lazy Lawyer website offers high quality, easy to use legal documents. We are not a law firm and cannot provide legal advice but we can answer any of your questions regarding the templates. The templates  are incredibly straightforward to fill in and our Guide to Editing Legal Documents will help. But if you do have any issues please get in touch.

        dl: dt Do the documents have to be drafted by a legal practitioner?
          dd
            strong There is NO legal requirement that the document be drafted by a legal practitioner. &nbsp;
            p In fact anyone can draft their own documents. The reason more people don’t is that it’s incredibly time consuming and it can be overwhelming to know where to start.
            p The distinction between what The Lazy Lawyer website offers and what a law firm can offer is that we cannot provide legal advice. We provide
              i general legal information and a generic (although comprehensive) legal template you fill in yourself.
            p We encourage individuals with complex legal matters to seek independent legal advice.

        dl: dt Are the documents legally binding?
          dd
            p Yes. As long as you are competent to fill out the document, sign it and comply with the witnessing requirements, the document is binding.
            p We encourage individuals with complex legal matters to seek independent legal advice.

        dl: dt Why have a written contract?
          dd Written agreements provide evidence of each party’s intentions and expectations. A written contract allows each party to clearly define all the terms and conditions of the agreement as well as acting as written ‘proof’ of what was agreed to.

        dl: dt What does "Jurisdiction" mean?
          dd A jurisdiction is a place, such as a state or territory, which has its own laws and regulations which govern the rules you are bound by when you are in that particular jurisdiction. Jurisdiction also refers to a particular court’s authority to ‘hear’ a case.

        dl: dt What does the "Governing Law" mean?
          dd A legal document is governed by the law of the jurisdiction where the parties undertake their dealings. This is usually where the property or business is, or where the service is to be performed. Our legal agreements include provisions on Governing Law so that should an issue arise, it is clear what legislation governs the dispute and where it should be heard.

        dl: dt What is Joint and Several liability?
          dd Joint and Several liability means that all the parties are equally and personally liable for the obligations under an agreement. Being Severally Liable means that, if one liable party is unable to pay their portion of an obligation then the remaining liable parties will be responsible for their own portion as well as this unpaid portion.

        dl: dt What is a notary public?
          dd A Notary Public is a state-appointed official who is authorised to authenticate certain legal documents. Signing in front of a Notary Public will be taken as firm evidence that the document or contract was signed by the named person.

        dl: dt Who can be a witness to a document? Can a family member do it?
          dd
           p Generally the person you choose to be a witness should not be related and have no financial or other interest in the agreement. A neutral third party is the safest choice.
            p Ideally a witness will observe the document being signed by the relevant parties and will then sign the document themselves as proof. The witness is not usually required to know or understand all of the contents of the document.


        dl: dt Does my document need to be witnessed or is ok without being witnessed?
          dd
            p Most legal documents DON’T require a witness for them to be legally valid. However, some documents, such as a Will, can have clearly regulated requirements when it comes to witnesses.
            p If you want to play it safe, have your document witnessed. It’ll save you time in the long run.

        dl: dt What does it mean to “execute” a document?
          dd When a person “executes” a document, it means they sign it with the proper “formalities”. So if there’s a legal requirement that the signature on the document be witnessed, the person executes the document by signing it in the presence of a witness.

        dl: dt What is the difference between an effective date and an execution date?
          dd The execution date is the date the party signs the document. The effective date is the date the agreement becomes effective and can be a specified date other than the date the agreement was signed. If no other date is specified, the contract is effective on the execution (signing) date.

        dl: dt What does “serving a document” mean?
          dd To “serve” a document refers to the formal delivery of a document from one party to another. This can be done in a number of ways including delivery in person, delivery by registered mail, or delivery by a process server. The person you are trying to serve may try to avoid or deny the service, so it’s a good idea to be able to verify the delivery in some way.

        dl: dt What is proof of service?
          dd Proof of Service is evidence that can be introduced into court to verify that the party did in fact receive a copy of a document.

        dl: dt If I deliver the document myself, how do I prove in court that the party received it?
          dd If you deliver the document in person, you should ensure that an objective third party witnesses the event, in case the other party tries to deny the service.

        dl: dt Can I serve the document by registered mail?
          dd
            p Yes, but if the other party refuses to pick it up, then they may not be viewed as having received it. You are better off ensuring the notice is hand-delivered to the other party. Certified or registered mail will usually work when serving a business if it’s sent to the registered office of the business.

            p We encourage individuals with complex legal matters to seek independent legal advice.

            p The Lazy Lawyer is not a law firm. The information contained on this website is general legal information and should not be construed as legal advice.








