extends _layout-shop
block content
  .jumbotron.category
    .container-fluid
      .row
          h1.text-center Order Received
          ol.breadcrumb.steps.text-center
            li Shopping Cart
            li Checkout Details
            li.active Order Complete
  section
    .container: .row
      .col-md-12
        .spacer-huge
          h2 Thank you. Your order has been received.
          p Order Instruction here lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, possimus?
          a.btn.btn-success(href="index.html") Back to home
