extends _layout
block content
  .jumbotron.category
    .container-fluid
      .row
        .col-md-12
          ol.breadcrumb
            +item-linked('#','Home')
            +item-linked('#','Professional Service Agreements')
            li.active Employment Contract Template
        .col-md-8
          h1 Employment Contract Template

  section.alt
    .container
      .row
        .col-md-5
          +img('template-icon.png')(class="img-responsive")
        .col-md-7
          h3 Template Details
          p Number of Pages: 11
          p Dimensions: Designed for Letter Size (8.5" x 11")
          p Editable: Yes (.doc)
          p Usage: Unlimited number of prints
          p Product number: #123123
          p Last Updated: Sept. 30,2014
          button.btn.btn-success.btn-lg.btn-addcart(type="button")
            span.glyphicon.glyphicon-shopping-cart
            | &nbsp; Add to Cart
  section.product-info
    .container: .row
      .col-md-12
        h2 Included: All the standard Employment provisions for Full & Part-time Employees plus:
        ul
          li Confidentiality Clause,
          li Intellectual Property Clause and
          li Restraint of Trade/Non-Compete Clause
        p This employment agreement template is perfect for full or part time employees in a small business in Australia. It legally covers you in all states and territories in Australia. It has clear and easy to action termination clauses for you to exit the agreement with an employee. Every employment template purchased comes with 1 hour of consulting from Kate to help you with any questions or post sale assistance you might need in creating your legal document.
        h2 What does the employment agreement contain?
        p This comprehensive Employment Agreement contains all the relevant terms and conditions and can be tailored to suit your specific business needs including:
        ul
          li The scope of employment
          li Duties, obligations and responsibilities of the Employee
          li Salary
          li Expense Reimbursement for business expenses
          li Comprehensive Confidentiality Agreement
          li Unauthorised Disclosure of Information: preventing the employee from disclosing any information sensitive to the business
          li Confidentiality after Termination
          li A comprehensive Non-Compete Agreement
          li Provision preventing the Employee contracting on the Employer’s behalf without express permission
          li Annual Leave
          li Sick Leave
          li Employment Term and Termination
          li Compliance with Employer Rules, Policies, and Procedures
          li Return of Property
          li Notices
          li No Waiver
          li The Agreement is entire
          li Jurisdiction
          li Severability
        a.btn.btn-success.btn-addcart.btn-lg.spacer(href="/", target="_blank")
          span.glyphicon.glyphicon-download-alt
          | &nbsp; Download our Comprehensive Employment Agreement now. Only $79.95
        h2 Why purchase this Employment Contract Template
        ul
          li This Employment Contract has been professionally drafted and contains customisable fields enabling you to tailor the document to suit the business’ specific needs
          li Able to be used in each Australian State and Territory
          li Very affordable: for only $79.95 you receive a comprehensive commercial legal document.
          li Easy editing and printing in Microsoft Word or Google Docs
          li Available for instant download after payment with Paypal
          li Unlimited usage of the template
          li Every template purchased includes a 1 hour post-sales consultation
          li Easy to use, professionally drafted document with customisable fields
          li Sections outlining the personal details of the parties to the Agreement
          li Legally binding terms and conditions ensuring an enforceable Employment Contract
          li Easy to follow instructions
          li Comprehensive terms and conditions which can be modified to suit your specific needs
          li Background and purpose of the Agreement
          li Clause detailing Parties to the Agreement
          li Section specifying detailed job description
          li Provision for the performance of duties both implicit and explicit that maybe required from time to time
          li Employee Salary
          li Terms of payment upon termination of employment
          li Expense reimbursement for reasonable business expenses
          li Comprehensive Confidentiality Clause
          li Entitlement to take legal action for breach of Confidentiality Clause
          li Injunctive relief for unauthorised disclosure of information
          li 12 month prohibition on disclosure of confidential and industry sensitive information after termination of employment
          li Comprehensive 12 month Non-compete Agreement following the termination of employment
          li Optional clause for contracting on Employer’s behalf only with express permission, in the best interests of the business
          li Provision detailing Annual and Personal Leave: compliant with State and Territory legislation
          li Provision detailing the employment term and procedure for termination
          li Condition of employment that Employee complies with Employer rules, policies and procedures
          li Notice requirements
          li Governing law of Agreement
          li Severability of necessary terms and provisions
          li Signature and witnessing requirements
        a.btn.btn-success.btn-addcart.btn-lg.spacer(href="/", target="_blank")
            span.glyphicon.glyphicon-download-alt
            | &nbsp; Download our Comprehensive Employment Agreement now. Only $79.95
        h2 Requirements
        ul
          li Compatible Software: This template can be edited in either Microsoft Word or Google Docs.
          li Google Docs: You can use a free version of Google Docs with a Gmail account
          li Microsoft Word: You can download this template and edit it directly in Microsoft Word
        h4 The Employment Contract can be customised simply by entering some of the following details:
        ul
         li Names and addresses of the Employer and Employee
          li Address of primary place of business
          li Details of employee’s role
          li Name of direct report/Manager
          li Salary
          li Optional geographic restraints of trade (if applicable)
          li State in which the Agreement is made
          li The date of the Agreement
          li Signatures of the Partners
        a.btn.btn-success.btn-addcart.btn-lg.spacer(href="/", target="_blank")
            span.glyphicon.glyphicon-download-alt
            | &nbsp; Download our Comprehensive Employment Agreement now. Only $79.95
        h2 Which states and territories of Australia can you use this template?
        p It’s important to distinguish between Employment agreements and agreements with independent contractors as the provisions differ significantly. If you’re looking for an Independent Contractor Agreement it can be found here.
        h2 Legal things you should know about full or part time employment agreements in Australia
        p All employees in Australia are employed under a common law contract of employment, which specifies the terms and conditions of their employment under their employer. This contract is subject to Federal and State legislative requirements. The employment contract may be based on a workplace agreement between an employer and a group of employees or industry-based awards. It’s important the Employment Agreement you use strikes a healthy balance between meeting your obligations as an Australian Employer whilst maximising your business interests.

  section.alt
    .container: .row
        .col-md-5
          +img('template-icon.png')(class="img-responsive")
        .col-md-7
          h3 Employment Contract Template
          p Number of Pages: 11
          p Dimensions: Designed for Letter Size (8.5" x 11")
          p Editable: Yes (.doc)
          p Usage: Unlimited number of prints
          p Product number: #123123
          p Last Updated: Sept. 30,2014
          button.btn.btn-success.btn-lg.btn-addcart(type="button")
            span.glyphicon.glyphicon-shopping-cart
            | &nbsp; Add to Cart


  section.featured#featured-prod
    .container: .row
      h2.text-center You might also need these templates:
      .row
        .col-md-4
          +thumbnail-product(
            "Non-Disclosure Agreement",
            "Partnerships & Business Agreements",
            "A Non-Disclosure Agreement protects your confidential business information or inventions revealed during discussions, proposals or negotiations with another party",
            "79.95")
        .col-md-4
          +thumbnail-product(
            "Non-Disclosure Agreement",
            "Partnerships & Business Agreements",
            "A Non-Disclosure Agreement protects your confidential business information or inventions revealed during discussions, proposals or negotiations with another party",
            "79.95")
        .col-md-4
          +thumbnail-product(
            "Non-Disclosure Agreement",
            "Partnerships & Business Agreements",
            "A Non-Disclosure Agreement protects your confidential business information or inventions revealed during discussions, proposals or negotiations with another party",
            "79.95")



