@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {color:rgba(0,0,0,0.95); font-family: 'Open Sans', sans-serif; background: #F4F4F4; font-size: 16px;}
.modal-body{padding: 0}
.modal-backdrop.in {filter: alpha(opacity=90); opacity: .90; }
.v-center {margin-top: 7%; }
h1{font-weight: 300; font-size: 72px; color: #4cd964}
.timer{color: #ff2d55}
